{% extends "first_app/base.html" %}
{% block content %}
    <h2>List of all Books</h2>
    <p class="details"></p>
    <ul>
    {% for doc in docs %}
        <li><a href="{% url 'book_detail' doc.id %}">{{ doc.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}