{% extends "first_app/base.html" %}
{% block content %}
    <h2>Quotes list</h2>
    <p class="details"></p>
    <ul>
    {% for doc in docs %}
        <li><em><a href="{% url 'character_detail' doc.character %}">"{{ doc.dialog }}"</a></em></li>
    {% endfor %}
    </ul>

{% if docs.has_other_pages %}
      <div class="pagination">
    {% if docs.has_previous %}
      <a href="?page={{ docs.previous_page_number }}">&laquo;</a>
    {% else %}
      <a class="disabled"><span>&laquo;</span></a>
    {% endif %}
    {% for i in docs.paginator.page_range %}
      {% if docs.number == i %}
        <a class="active"><span>{{ i }}</span></a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if docs.has_next %}
      <a href="?page={{ docs.next_page_number }}">&raquo;</a>
    {% else %}
      <a class="disabled"><span>&raquo;</span></a>
    {% endif %}
    </div>
    {% endif %}
{% endblock content %}