{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Minas Morgul</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'first_app/css/main.css' %}" type="text/css" media="screen,projection" />
</head>
<body>
<div id="container">
  <div id="wrapper">
    <div id="header">
      <h1><a >Minas Morgul</a></h1>
      <h2>Nine for Mortal Men doomed to die...</h2>
      <p class="hidden"><a href="#nav">Skip to Main Navigation</a> || <a href="#content_main">Skip to Content</a></p>
    </div>
    <div id="sidebar">
      <h2>This is 'Minas Morgul' semester Python project. A CSS/XHTML template has been created by James Koster, while the author of REST API is unknown.</h2>

      <ul id="sidenav">
        <li><a href="{% url 'home' %}"accesskey="h"><em>H</em>ome</a></li>
        <li><a href="{% url 'book' %}" accesskey="e"><em>B</em>ooks</a></li>
        <li><a href="{% url 'movie' %}" accesskey="m"><em>M</em>ovies</a></li>
        <li><a href="{% url 'character' %}" accesskey="c"><em>C</em>haracters</a></li>
      </ul>
        <h2> Random Quote </h2>
        <p><em>"{{ r_quote.dialog }}"</em> - {{ r_character.name }} <br> {{ r_movie.name }}</p>
    </div>
    <div id="content">
      <ul id="nav">
        <li class="hidden"><strong>Main Navigation</strong></li>
        <li><a href="{% url 'home' %}"accesskey="h"><em>H</em>ome</a></li>
        <li><a href="{% url 'book' %}" accesskey="e"><em>B</em>ooks</a></li>
        <li><a href="{% url 'movie' %}" accesskey="m"><em>M</em>ovies</a></li>
        <li><a href="{% url 'character' %}" accesskey="c"><em>C</em>haracters</a></li>
      </ul>
      <div id="content_main">
        {% block content %} {% endblock %}
      </div>
      <div id="footer">
        <p class="validate"><a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/">CSS</a><br />
          <a href="#content">Top</a></p>
        <p>Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.<br />
          © All your copyright information here.</p>
      </div>
    </div>
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
