{% extends "first_app/base.html" %}
{% block content %}
    <h2><a id="about">About the Page</a></h2>
    <p class="details"></p>
    <p> Hello stranger, <br>  this website is a semestral project for Základy programování on Fakulta Elektronická of České Vysoké učení technické. The main purpose of this project is to build a simple website that will allow its users to filter content from the Lord of the Rings books and movies. CSS/XHTML template and REST API are both free to use projects. </p>
    <p><a href="https://the-one-api.dev/">REST API</a></p>
    <p><a href="https://www.free-css.com/free-css-templates/page18/the-old-forest">CSS/XHTML template</a></p>
    <p style="text-align:right"> - Václav Lokaj</p>
{% endblock content %}