{% extends "first_app/base.html" %}
{% block content %}
        <h2>{{ book.name }}</h2>
        <p class="details"></p>
        <h3>List of all Chapters</h3>
    <blockquote>
    <ul>
    {% for ch in chapter %}
        <li>{{ ch.chapterName }}</li>
    {% endfor %}
    </ul>
    </blockquote>
{% endblock content %}