{% extends "first_app/base.html" %}
{% block content %}
        <h2>{{ character.name }}</h2>
        <p class="details"> </p>
        <blockquote>
        <p> Height: {{ character.height }}</p>
        <p> Race: {{ character.race }}</p>
        <p> Gender: {{ character.gender }}</p>
        <p> Birth: {{ character.birth }}</p>
        <p> Spouse: {{ character.spouse }}</p>
        <p> Death: {{ character.death }}</p>
        <p> Realm: {{ character.realm }}</p>
        <p> Hair: {{ character.hair }}</p>
        <p> Name: {{ character.name }}</p>
        <p> Wiki: <a href="{{ character.wikiUrl }}">{{ character.wikiUrl }}</a></p>
        </blockquote>
    <h3>Quotes list:</h3>
    <blockquote>
        <ul>
            {% for doc in docs %}
                <li><em>"{{doc.dialog}}"</em></li>
            {% endfor %}
        </ul>
    </blockquote>

{% endblock content %}