{% extends "first_app/base.html" %}
{% block content %}
        <h2>{{ movie.name }}</h2>
        <p class="details"> </p>
        <blockquote>
        <p> Run in minutes: {{ movie.runtimeInMinutes }}</p>
        <p> Millions in budget: {{ movie.budgetInMillions }}</p>
        <p> Millions in revenue box office: {{ movie.boxOfficeRevenueInMillions }}</p>
        <p> Nominations to academy awards: {{ movie.academyAwardNominations }}</p>
        <p> Academy awards wins: {{ movie.academyAwardWins }}</p>
        <p> Rotten tomatoes score: {{ movie.rottenTomatesScore }}</p>
        </blockquote>
        <h3><a href="{% url 'quote' movie.id %}"> Movie quotes list </a></h3>
{% endblock content %}